.root{
-fx-background-image:url("../imagenes/taqueria.png");
-fx-background-repeat: stretch;
-fx-background-size: 1366 700;
-fx-background-position: center bottom;
-fx-effect: dropshadow(three-pass-box, red, 10, 0.2, 0, 0);
}
